.borde{
    border: 1px #000 solid;
    text-align: center;
    height: 50px;
    }

.color{
    background-color: blueviolet;
    height: 500px;
}

.color1{
    background-color:brown;

}

.color2{
    background-color:chartreuse;
   
}

.bg{
    
background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(151,46,177,1) 36%, rgba(0,212,255,1) 100%);
}

ul{
    list-style-type: none;
    text-align: center;
  }

li, a{
    text-decoration: none;
     
     text-align: center;
    }
.bg-operador{
background: rgb(2,0,36);
background: linear-gradient(306deg, rgba(2,0,36,1) 0%, rgba(104,177,46,1) 36%, rgba(0,212,255,1) 100%);
    
}