.borde{
	border: solid 1px #000;
}

h1{
	color: white;
}
a{
  
  color: #000;
  text-decoration: none;
}
p{
	width: 35%;
	height: auto;
	border-style: dotted;
	font-family:verdana;
	text-align: justify;
	padding: 10px;
	display: inline-table;
 
}
p img{
	
	width: 25px;
	height: 25px;
	float: right;
}